@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fafaf9;
  color: #1e1e1e;
  font-family: Cabin, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}

h1 {
  color: #0f0f0f;
  text-align: center;
}

table {
  background-color: #f2f2f2;
  border: 1px solid #ececec;
  border-collapse: collapse;
  box-shadow: 0 25px 50px -15px rgb(0 0 0 / 0.25);
  line-height: 1.2;
  margin: 0 auto 6rem;
  max-width: 900px;
  overflow-x: scroll;
  padding: 2rem 1.25rem;
  width: 100%;
}

thead {
  border-bottom: 2px solid #dadada;
}

thead tr {
  background-color: #f4f4f1;
}

th {
  font-weight: 700;
  letter-spacing: 0.15rem;
  padding: 1rem;
  text-align: left;
}

tr {
  transition: background-color 0.2s ease-out;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #fefefe;
}

td {
  padding: 0.75rem 1rem;
}

.delete-btn {
  background-color: #ef5252;
  border: 0;
  border-radius: 0.25rem;
  color: #fff;
  font-family: inherit;
  font-size: 0.85rem;
  padding: 0.5rem 1rem;
}

form {
  background-color: #f4f4f1;
  border: 1px solid #ececec;
  border-bottom: 2px solid #dadada;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  margin: auto;
  max-width: 900px;
  padding: 1rem;
}

input {
  border: 2px solid #dadada;
  border-radius: 0.25rem;
  font-family: inherit;
  font-size: inherit;
  padding: 0.5rem 1rem;
  width: 100%;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
